

/* generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: normal;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: #181818;
  color: #fff;
  min-height: 100vh; 
  width: 100%;
}
 
header {
  background-image: url('../Images/header-photo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181818;
  height: 100vh;
}

img {
  max-width: 100%;
  font-style: italic; 
  vertical-align: middle; 
}

.o-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.o-section {
  padding: 20px;
}

.o-section {
  margin: 250px 0;
}

.o-section__title {
  color: #D3C1A6;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  opacity: 50%;
  text-transform: uppercase;
}

.o-section__title--large {
  font-size: 4rem;

}

.o-section__title--pale {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  opacity: 100%;
}

.o-section__title--bottom {
  font-size: 27px;
  margin-bottom: 10px;
  text-align: start;
}

.o-row {
  display: flex;
}

.o-row--justified {
  justify-content: space-between;
}

.o-row--centered {
  justify-content: center;
}

.o-list--bare {
  list-style: none;
}

.o-list--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-list--right {
  text-align: end;
}

.o-list__item {
  display: flex;
  align-items: center;
}

.o-list__item div {
  flex: 1;
}

.o-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.o-grid--small {
  padding: 30px 90px 200px;
}

.o-grid--small >  .o-grid__cell {
  padding-left: 2rem;
  flex: 0 1 50%;
  margin-top: 1rem;
}

.o-grid--large {
  padding: 20px;
}

.o-grid--large > .o-grid__cell {
  flex: 0 1 40%;
  margin: 1.5rem .6rem;
}

.o-box {
  padding: 50px;
}

.o-flag {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.o-flag__img {
  height: auto;
  flex: 1;
}

.o-flag__body {
  flex: 1;
  padding-left: .6rem;
}

.o-form {
  display: flex;
  flex-direction: column;
}

.section1-bg {
  background-image: url('../Images/slika-kafe.png');
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: bottom;
  background-color: #181818;
}

.section2-bg {
  background-image: url('../Images/coffee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section3-bg {
  background-image: url('../Images/history.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coffee-history-img {
  display: none;
}

/* COMPONENTS */
.c-header__title {
  display: block;
  font-size: 1.3rem;
  position: absolute;
  top: 50%; 
}

.c-nav {
  background-color: #181818;
  padding: 15px 20px 0 20px;
}

.c-nav__logo {
  width: 230px;
}

.c-nav-links {
  position: fixed;
  background-color: #181818;
  height: 100vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  padding: 1rem;
  font-size: 1.7rem;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all .5s ease-out;
}

.c-nav-links.open {
  clip-path: circle(1200px at 90% -10%);
  -webkit-clip-path: circle(1200px at 90% -10%);
}

.c-nav-links li {
  padding: 1rem;
}

.c-nav-links li a {
  color: #fff;
  text-decoration: none;
}
.c-hamburger {
  cursor: pointer;
  z-index: 2;
}

.c-hamburger__line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

.c-bg-layer {
  background-color: #181818;
  opacity: 0.5;
}

.c-production-shop {
  font-size: .7rem;
}

.c-shop-card__img {
  background-color: #fff;
}

.c-shop-card__body {
  padding-top: .3rem;
  color: #D3C1A6;
  font-size: 15px;
}

.c-shop-card__body h4 {
  text-transform: uppercase;
}

.c-shop-card__price {
  font-size: 2rem;
  font-weight: 600;
}

.c-shop-card__body span {
  font-size: 1rem;
  vertical-align: super;
}

.c-card__num {
  font-size: 1.5rem;
}

.c-card__num span {
  font-size: 2.8rem;
  font-weight: 400;
}

.c-card__underline {
  content: "";
  width: 2.5rem;
  height: 1px;
  display: block;
  background-color: #fff;
  transform: translateY(-10px);
  margin-top: 10px;
}

.c-input {
  padding: 10px;
}

.c-input--primary {
  background-color: #181818;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-top: 1.5rem;
}

.c-btn {
  width: 100px;
  border: none;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 1.5rem;
}

.c-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.c-timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #fff;
  top: 60px;
  bottom: 60px;
  left: 50%;
  margin-left: -3px;
}

.c-timeline__item {
  position: relative;
  width: 70px;
}

.c-timeline  img {
  width: 100%;
}

.c-timeline__item::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -5px;
  background-color: #181818;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.c-footer--bottom {
  padding: 20px;
  font-size: .7rem;
}

.c-social-icons {
  margin-top: 40px;
}

.c-social-icons i {
  color: #fff;
  font-size: 2rem;
  margin-left: 15px;
}

.back-to-top i {
  color: #fff;
  background: #181818;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
} 

/* UTILITIES */

.u-text--centered {
  text-align: center;
}

.u-text--justified {
  text-align: justify;
}

.u-margin-top {
  margin-top: 70px;
}

.u-margin-bottom {
  margin-bottom: 150px;
}

.u-1\/2 {
  width: 50%;
}


@media screen and (min-width: 600px)  {


  .section2-bg {
    background-image: none;
  }

  .section3-bg {
    background-image: none;
  }

  .o-grid {
    display: flex;
    flex-wrap: nowrap;
  }

  .o-row--centered {
    align-self: flex-end;
  }

  .o-flag {
    align-items: flex-start;
  }

  .o-flag--reverse {
    flex-direction: row-reverse;
  }

  .o-flag--xl {
    display: flex;
  }

  .o-flag--xl .o-flag__body .o-flag__img {
    width: 50%;
  }

  .o-list__item {
    flex-direction: column-reverse;
  }

  .o-list--inline {
    flex-direction: row;
    justify-content: center;
  }

  .c-header__title {
    top: 90%;
  }

  .coffee-history {
    padding: 5rem;
  }

  .coffee-history__title {
    font-size: 9rem;
  }

  .coffee-history-img {
    display: block;
    max-width: 100%;
    min-width: 624px;
    object-fit: cover;
  }

  .coffee-history__body {
    padding: 0;
  }

  .c-timeline::after,
  .c-timeline__item::after {
    display: none;
  }
}


