:root {
  
  --color-primary: #181818;


  --font-size-xxxs: 0.25rem; /* 4px */
  --font-size-xxs: 0.50rem; /* 8px */
  --font-size-xs: 0.75rem; /* 12px */

  --font-size-s: 1rem;  /* 16px */
  --font-size-m: 1.25rem; /* 20px */
  --font-size-l: 1.5rem;  /* 24px */

  --font-size-xl: 2rem; /* 32px */
  --font-size-xxl: 3rem;  /* 48px */
  --font-size-xxxl: 4rem; /* 64px */
}  
/* generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  line-height: 1.3;
  overflow-y: scroll;
  height: 100%;
  background-color:#181818;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  background-color: #181818;
  color: #fff;
  min-height: 100vh;
  min-width: 375px;
} 

img {
  max-width: 100%;
  font-style: italic; 
  vertical-align: middle; 
}

.o-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
}

.o-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.o-row {
  display: flex;
}

.o-row--justified {
  justify-content: space-between;
}

.o-row--centered {
  justify-content: center;
}

.o-list--bare {
  list-style: none;
}

.o-list--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-list--right {
  text-align: end;
}

.o-list__item {
  display: flex;
  align-items: center;
}

.o-list__item div {
  flex: 1;
}

.o-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.o-grid--small {
  text-align: start;
}

.o-grid--small > .o-grid__cell {
  padding-left: 2rem;
  flex: 0 1 150px;
  margin-top: 1.5rem;
}

.o-grid--large > .o-grid__cell {
  flex: 0 1 40%;
  margin: 2rem .6rem;
}

.o-flag {
  display: flex;
  align-items: center;
  width: 100%;
}

.o-flag__img {
  flex: 1;
}

.o-flag__body {
  flex: 1;
}

.o-flag--bottom .o-flag__img {
  flex: 2;
 }

.o-form {
  display: flex;
  flex-direction: column;
}

/* COMPONENTS */

.c-header {
  position: relative;
}

.c-header-bg {
  height: calc(100vh - 75px);
  width: 100%;
}

.c-header-bg__video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
 }

.c-header__title {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 2px 2px 2px  #181818;
  position: absolute;
  top: 50%; 
}

.c-nav {
  padding: 15px 20px 0 20px;
}

.c-nav__logo {
  width: 300px;
  z-index: 1;
}

.c-nav-links {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  height: 100vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  padding-top: 30%;
  font-size: 1.7rem;  
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all .5s ease-out;
}

.c-nav-links.open {
  clip-path: circle(1200px at 90% -10%);
  -webkit-clip-path: circle(1200px at 90% -10%);
}

.c-nav-links li {
  padding: 1rem;
}

.c-nav-links li a {
  color: #fff;
  text-decoration: none;
}

.c-hamburger {
  cursor: pointer;
  z-index: 2;
}

.c-hamburger__line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

.c-coffee-consumption {
  max-height: 100vh;
}

.c-coffee-consumption__title {
  font-weight: 500;
  font-size: 30px;
  opacity: 100%;
  margin: 100px 50px 0;
}

.c-coffee-consumption__body {
  margin: 100px 65px 0;
}

.c-card__num {
  font-size: 2rem;
  font-weight: 300;
}

.c-card__num span {
  font-size: 53px;
  font-weight: 400;
}

.c-card__underline {
  content: "";
  width: 2.5rem;
  height: 1px;
  display: block;
  background-color: #fff;
  transform: translateY(-10px);
  margin-top: 5px;
}

.c-coffee-consumption__img--small {
  margin-top: 100px;
}

.c-coffee-consumption__img--large {
  display: none;
}

/* COFFEE HISTORY */

.c-coffee-history--small {
  background-color: #181818;  
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-coffee-history__title {
  color: #D3C1A6;
  font-size: 3.7rem;
  margin-bottom: 40px;
  opacity: .8;
}

.c-coffee-history__text {
  color: #fff;
  opacity: .8;
  padding: 0 80px;
  text-shadow: 2px 2px 2px  #181818;
}

.c-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
}

.bg-video {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

/* PRODUCTION SHOP */

.c-production-shop {
  margin-top: 70px;
  padding: 30px;
  height: 100vh;
}

.c-production-shop__title {
  font-size: 50px;
  color: #D3C1A6;
  opacity: .8;
  margin-bottom: 20px;
}

.c-production-shop__body {
  margin-bottom: 70px;
}

.c-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.c-timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #fff;
  top: 40px;
  bottom: 50px;
  left: 50%;
  margin-left: -3px;
}

.c-timeline__item {
  position: relative; 
  width: 70px;
  text-align: end;
  margin-right: 100px;
}

.c-timeline  img {
  width: 100px;
}

.c-timeline__item::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  right: -53px;
  background-color: #181818;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.c-shop {
  padding: 10px;
  margin: 20px 0 50px 0;
}

.c-shop-card__img {
  background-color: #fff;
}

.c-shop-card__body {
  padding-top: .7rem;
  color: #D3C1A6;
  font-size: .7rem;
}

.c-shop-card__body h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.c-shop-card__price {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  top: -5px;
}

.c-shop-card__body span {
  font-size: 1rem;
  vertical-align: super;
}


.c-footer {
  font-size: .6rem;
  height: 50vh;  
}

.c-newsletter {
  position: relative;
  right: 40px;
}

.c-newsletter__title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: start;
}

.c-input {
  padding: 10px;
}

.c-input--primary {
  background-color: #181818;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-top: 1.5rem;
}

.c-btn {
  width: 90px;
  border: none;
  align-self: flex-end;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 1.5rem;
}

.c-footer--bottom {
  margin-top: 30px;
  padding: 20px;
}

.c-social-icons {
  margin-top: 40px;
}

.c-social-icons i {
  color: #fff;
  font-size: 1.7rem;
  margin-left: 15px;
}

.back-to-top i {
  color: #fff;
  background: #181818;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
} 

/* UTILITIES */

.u-text--centered {
  text-align: center;
}

.u-text--justified {
  text-align: justify;
}

.u-margin-bottom {
  margin-bottom: 150px;
}

.u-1\/2 {
  width: 50%;
}


@media screen and (min-width: 800px)  {


  body {
    margin: 0 auto;
    font-size: 18px;
  }

  .o-wrapper {
    width: 80%;
  }
  
  .o-grid {
    flex-wrap: nowrap;
  }

  .o-row--centered {
    align-self: flex-end;
  }

  .o-flag {
    align-items: flex-start;
  }

  .o-flag--reverse {
    flex-direction: row-reverse;
  }

  .o-flag--xl .o-flag__body {
    align-self: flex-end;
    flex: 1;
    margin: 10em 0 10em 0;
  }

  .o-flag--bottom .o-flag__img {
    flex: 1;
  }

  .o-flag--bottom .o-flag__body {
    align-self: center;
    transform: translateX(-50%);
  }

  .o-flag__img img {
    width: 75%;
  }

  .o-list__item {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .o-list--inline {
    flex-direction: row;
    justify-content: center;
  }

  .c-header__title {
    top: 90%;
    font-size: 30px;
  }

  .c-hamburger {
    display: none;
  }

  .c-coffee-consumption__title {
    margin-top: 165px;
    font-size: 48px;
  }

  .c-coffee-consumption__body {
    margin-top: 169px;
    margin-bottom: 50px;
  }

  .c-coffee-consumption__img--small {
    display: none;
  }

  .c-coffee-consumption__img--large {
    display: block;
  }

  .c-card__num {
    font-size: 64px;
  }

  .c-card__num span {
    font-size: 6rem;
  }

  .c-card__text {
    font-size: 20px;
  }

  .c-card__underline {
    content: "";
    width: 53px;
    height: 2px;
    display: block;
    background-color: #fff;
    transform: translateY(-10px);
    margin-top: 8px;
  }

  .c-video-container {
    position: static;
    background-color: none;
    opacity: 1;
    z-index: 0;
  }

  .c-bg-video {
    width: 100%;
  }

  .c-coffee-history {
    padding: 0;
    opacity: 1;
    max-height: 100vh;
  }

  .c-coffee-history--small {
    position: relative;
    height: auto;
  }

  .c-coffee-history__title {
    font-size: 10.5vw;
    position: absolute;
    margin: 0;
  }

  .c-coffee-history__title--right {
    left: 20%;
    top: 5%;
    animation: fadeInRight 1s ease-in-out;
  }

  .c-coffee-history__title--left { /* prepraviti? */
    top: 5%;
    left: -20px;
    animation: fadeInLeft 1s ease-in-out;
  }

  .c-coffee-history__text {
    position: relative;
    padding: 70px 0 0 50px;
    font-size: 1vw;   
    font-weight: 300;
   /* staviti CLAMP */
  }

  .c-coffee-history__text--left {
    padding: 70px 50px 0 0;
  }

  .c-production-shop {
    height: 100vh;
    margin-top: 103px;

  }

  .c-production-shop__title {
    font-size: 100px;
  }

  .c-production-shop__body {
    padding: 0 10em;
    margin-bottom: 160px;
  }

  .c-timeline {
    position: relative;
    max-width: 1200px;
  } 

  .c-timeline::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 85%;
    height: 2px;
    background-color: #fff;
    top: 75%;
    left: 78px;
  }

  .c-timeline__item {
    margin-right: 0;
    margin-top: 80px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .c-timeline__item::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #181818;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 58px;
    left: 67px;
    z-index: 1;
  }


.c-shop-card__body {
  font-size: 16px;
}

.c-shop-card__body h4 {
  font-size: 20px;
}

.c-shop-card__price {
  font-size: 48px;  
}

.c-shop-card__body span {
  font-size: 27px;
}

.c-footer {
  height: 100vh;
  font-size: 18px;
}

.c-newsletter {
  position: static;
  max-width: 433px;
}

.c-newsletter__title {
  font-size: 48px;
  font-weight: 500;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

}


